/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(docs/img/18.jpg);
    height: 100vh;
    margin-bottom: 50px;
}

.interface {
    margin: 0 auto;
}

/* Estilo Cabeçalho */
header {
    padding: 0px 3%;
    background: linear-gradient(135deg,#DC9833 0%,#FFCA64 50%,#DC9833 100%);
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Serve para alinhar os elementos do cabeçalho ao redor */
}

header a {
    color: #000000;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    display: flex; /* Serve para alterar a flex para alinhar os itens horizontalmente */
}

header nav ul li {
    font-weight: bold;
    margin: 40px 150px; /*  Serve para adicionar espaçamento horizontal entre os itens */
}
header nav ul li a {
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #ffff; /* Muda a cor ao passar o cursor */
  }

.logo {
    flex: 2; /* Serve para ocupar o espaço restante */
    text-align: center; /* Serve par centralizar o conteúdo */
    
}

/* MAIN*/

.titulo {
    text-align: center;
    color: #CE7F06; /* Cor laranja */
    margin-top: 50px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-size: 26px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    font-family: "Poppins", sans-serif; /* Fonte */
    word-spacing: 10px;
}
.subtitulo {
    text-align: center;
    color: white; /* Cor branca */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-size: 16px; /* Tamanho da fonte */
    font-family: "Poppins", sans-serif; /* Fonte */
}



form {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 4%;
    
}

.form-esquerda, .form-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-esquerda {
    
}

.form-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.pergunta {
    margin-bottom: 20px;
    color:#ccc
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    color: white; /* Define a cor do texto como branca */
    background-color: transparent;
    width: 300px;
    padding: 8px;
    border: 1px solid #CE7F06;
    border-radius: 5px;
    font-size: 14px;
}

.experiencias {
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 20px; /* Adiciona margem acima do input */
    color: #ccc; /* Cor do texto */
    margin-left: -675px; /* Move a div para a esquerda */
   
}

.experiencias input {
    color: white;
    background-color: transparent;
    width: 975px;
    padding: 8px;
    border: 1px solid #CE7F06;
    border-radius: 5px;
    font-size: 14px;
}

.experiencias label {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
    text-align: left;
    font-size: 14px;
}

.add-btn,
.remove-btn {
    background-color: #CE7F06;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.add-btn:hover,
.remove-btn:hover {
    background-color: #FFA500;
}
.formacoes {
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 20px; /* Adiciona margem acima do input */
    color: #ccc; /* Cor do texto */
    margin-left: -675px; /* Move a div para a esquerda */
   
}

.formacoes input {
    color: white;
    background-color: transparent;
    width: 975px;
    padding: 8px;
    border: 1px solid #CE7F06;
    border-radius: 5px;
    font-size: 14px;
}

.formacoes label {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
    text-align: left;
    font-size: 14px;
}

.add-btnn,
.remove-btn {
    background-color: #CE7F06;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.add-btnn:hover,
.remove-btn:hover {
    background-color: #FFA500;
}


.concluir-cadastro {
    text-align: center;
    margin-top: 80px; /* Adicione a margem desejada */
    margin-left: -100%; /* Adiciona margem à esquerda */
   
}

.concluir-cadastro button {
    background-color: #CE7F06;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px 40px; /* Aumenta o padding para aumentar o tamanho do botão */
    border-radius: 28px; /* Arredonda mais as bordas do botão */
    font-size: 25px; /* Aumenta o tamanho do texto dentro do botão */
    font-weight: bold; /* Deixa o texto mais grosso */
    margin-bottom: 200px;
}


.concluir-cadastro button:hover {
    background-color: #FFA500;
}

